@import "normalize";
@import "open-color";
@import "../../../node_modules/leaflet/dist/leaflet.css";

body {
    background: @oc-gray-9;
    font-family: 'Raleway', sans-serif;
    color: @oc-gray-3;
    letter-spacing: 0.02rem;
}

[v-cloak] { display: none; }

.fill-darker {
    background: @oc-gray-8;
}

.fill-dark {
    background: @oc-gray-7;
}

.fill-red {
    background: @oc-red-9;
}

.color-light {
    color: @oc-gray-2;
}

.color-lighter {
    color: @oc-gray-0;
}

.color-faded {
    color: @oc-gray-5;
}

.color-orange {
    color: @oc-orange-2;
}

.color-blue {
    color: @oc-blue-1;
}

.p-05 {
    padding: 0.5rem;
}

.p-1 {
    padding: 1rem;
}

.m-05 {
    margin: 0.5rem;
}

.mt-05 {
    margin-top: 0.5rem;
}

.mb-05 {
    margin-bottom: 0.5rem;
}

.ml-05 {
    margin-left: 0.5rem;
}

.mr-05 {
    margin-right: 0.5rem;
}

.rounded {
    border-radius: 4px;
    overflow: hidden;
}

// --

.text-medium {
    font-weight: 600;
}

.text-small {
    font-size: 0.9rem;
}

.text-italic {
    font-style: italic;
}

// --

.grid {
    display: flex;
    width: 100%;
}

.grid .map {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    min-width: 100px;
    #map {
        flex-grow: 1;
        z-index: 0;
    }
}

.grid .tweet-list {
    width: 500px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100vh;
    overflow-y: scroll;
}

.street-list {
    columns: 2;
    margin: 0;
    padding: 0;
    list-style-type: none;
    .text-small;
    li {
        margin: 0 0 0.4rem 0;
        padding: 0;
        padding-left: 1rem;
        text-indent: -1rem;
        &:before {
            margin-right: 0.4rem;
            content: '- ';
        }
    }
}

.tweet-link, .tweet-hashtag, .tweet-mention {
    text-decoration: none;
}

.tweet-link {
    color: @oc-green-1;
}

.tweet-hashtag {
    color: @oc-yellow-2;
}

.tweet-mention {
    color: @oc-violet-2;
}
